<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GPA Output</title>

    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="../static/css/stylesheet.css" rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
    <link href="../static/css/fontawesome-all.css" rel="stylesheet" th:href="@{/css/fontawesome-all.css}"/>
    <link href="../static/css/inputmask.css" rel="stylesheet" th:href="@{/css/inputmask.css}"/>

</head>

<body>
    <div class="dashboard-main-wrapper">
        <!-- navbar -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-dark fixed-top">
                <a class="navbar-brand" th:href="@{/}">GPA Master</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
        <!-- end navbar -->

        <!-- left sidebar -->
        <div class="nav-left-sidebar sidebar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/student}">User Submission</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/newcase}">Administrator</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end left sidebar -->
    </div>
    <!-- wrapper  -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            Final GPA
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>Your Final GPA will be <b style="color: #005cbf">[[${gpaValue}]]</b></p>
                            </blockquote>

                            <a th:href="@{/student}" class="btn btn-success">Check for another Entry</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        Project for University of Vocational Technology
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer -->
</div>
</body>
</html>
